{% load staticfiles %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
<link rel="stylesheet" type="text/css" href="{% static 'match/style.css' %}"/>



<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Brand</a>
        </div>
        <div class="collapse navbar-collapse">

        <ul class="nav navbar-nav">
            <li>
                <a href=""> Podcast </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <li><a href="">{{ request.user.username }}</a></li>
                <li><a href=""><span class="glyphicon glyphicon-user"></span> Log Out</a></li>


            {% endif %}

            {% if not request.user.is_authenticated and not '/login/' in request.get_full_path %}
        <form action="" class="navbar-form navbar-right" method="post">{% csrf_token %}

            <div class="form-group">
                <input class="form-control" name="username" type="text" placeholder="username">
            </div>

            <div class="form-group">
                <input class="form-control" name="password" type="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-login">Login</button>
        </form>
            <li><a href=""><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            {% endif %}

      </ul>
    </div>

    </div>
</nav>